<!DOCTYPE html>
<html>
<head>
    <title> Add Student </title>
</head>
<body>
    <h1> Add New Student </h1>
    <form method = 'POST'>
        Name: <input type = 'text' name = 'name'><br>
        Age: <input type = 'number' name = 'age'><br>
        Course: <input type = 'text' name = 'course'><br>
        Professor ID: <input type = 'number' name = 'professor_id'><br>
        Favourite Professors: <input type = 'text' name = 'favourite_professors'><br>
        <input type = 'submit' value = 'Submit'>
    </form>
</body>
</html>
