<!DOCTYPE html>
<html>
  <head>
    <title>Students</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
      <div class="container">
      <header>
      <h1>Student List</h1>
      </header>
        <div class="top-bar">
          <a href = '{{ url_for('add') }}'>
            <button class="add-btn" >Add Student</button>
          </a>
        </div>
      
    <table>
        <tr>
            <th> ID </th>
            <th> Name </th>
            <th> Age </th>
            <th> Course </th>
            <th> Professor Name </th>
            <th> Favourite Professor </th>
            <th> Edit Student </th>
            <th> Delete Student </th>
        </tr>
        {% for s in students %}
            <tr>
                <td> {{ s[0] }} </td>
                <td> {{ s[1] }} </td>
                <td> {{ s[2] }} </td>
                <td> {{ s[3] }} </td>
                <td> {{ s[4] }} </td>
                <td> {{ s[5] }} </td>
                <td>
                    <a href="{{ url_for('update', student_id=s[0]) }}" title="Edit">
                        <button type="button" class="icon-btn edit">
                            <span data-lucide="edit-2"></span>
                        </button>
                    </a>
                </td>                
                <td>
                    <form id="delete-form-{{ s[0] }}" method="POST" action="{{ url_for('delete', student_id=s[0]) }}" style="display: inline;">
                    <button type="button"  class="icon-btn delete" title="Delete" onclick="confirmDelete({{ s[0] }})">
                        <span data-lucide="trash-2"></span>
                    </button>
                    </form>
                </td>                
            </tr>
        {% endfor %}
    </table>
    </div>
    <script src="https://unpkg.com/lucide@latest" defer></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            if (window.lucide) {
                lucide.createIcons();
            } else {
                console.error("Lucide not loaded");
            }
        });
    </script>
    <script>
    function confirmDelete(studentId) {
        const confirmed = confirm("Are you sure you want to delete student with ID " + studentId + "?");
        if (confirmed) {
            document.getElementById('delete-form-' + studentId).submit();
        }
    }
</script>    
  </body>
</html>
