<!DOCTYPE html>
<html>
<head>
    <title> Students </title>
</head>
<body>
    <h1> Student List </h1>
    <a href='{{ url_for('add') }}'><button> Add Student </button></a>
    <table border = '1'>
        <tr>
            <th> ID </th><th> Name </th><th> Age </th><th> Course </th><th> Professor ID </th><th> Favourite Professor </th>
        </tr>
        {% for s in students %}
        <tr>
            <td> {{ s[0] }} </td><td> {{ s[1] }} </td><td> {{ s[2] }} </td>
            <td> {{ s[3] }} </td><td> {{ s[4] }} </td><td> {{ s[5] }} </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
