<!DOCTYPE html>
<html>
    <head>
        <title>Update Student</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="form-box">
        <h1>Update Student</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li style="color: red;">{{ message }}</li>
                    {% endfor %}
                </ul>
             {% endif %}
         {% endwith %}
         <form method="POST">
            <label>Name:</label>
            <input type="text" name="name" value="{{ s[1] }}">

            <label>Age:</label>
            <input type="text" name="age" value="{{ s[2] }}">

            <label>Course:</label>
            <input type="text" name="course" value="{{ s[3] }}">

            <label>Professor ID:</label>
            <input type="text" name="professor_id" value="{{ s[4] }}">

            <label>Favourite Professor ID:</label>
            <input type="text" name="favourite_professors" value="{{ s[5] }}">

            <input type="submit" value="Update Student">
        </form>  
        </div>
    </body>
</html>

