<!DOCTYPE html>
<html>
    <head>
        <title>Update Student</title>
    </head>
    <body>
        <h1>Update Student</h1>
        <form method="POST">
            Name: <input type='text' name='name' value='{{ s[1] }}'><br>
            Age: <input type='text' name='age' value='{{ s[2] }}'><br>
            Course: <input type='text' name='course' value='{{ s[3] }}'><br>
            Professor ID: <input type='text' name='professor_id' value='{{ s[4] }}'><br>
            Favourite Professor ID: <input type='text' name='favourite_professors' value='{{ s[5] }}'><br>
            <input type='submit' value='Update Student'>
        </form>
    </body>
</html>

